body {
  --text: #222222;
  --textSecondary: #787b80;
  --border: #eaeaea;
  --back: #ffffff;
  --backTransparent: rgba(255,255,255,0);
  --primary: #6c19cf;
  --primaryTransparent: rgba(106, 25, 204, 0.2);
  --primaryLighter: #813fd1;
  --green: #2ccc89;
  --red: #f54849;
  color: var(--text);
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--back);
}

body.dark {
  --back: #131313;
  --backTransparent: rgba(19, 19, 19, 0);
  --text: #fbfbfb;
  --textSecondary: #a8a8a8;
  --border: #4b4b4b;
  --primary: #8d39f5;
  --primaryTransparent:  rgb(127, 38, 235, 0.2);
  --primaryLighter: #a55cff;
}

body.scrollDisabled {
  overflow: hidden;
}

.container {
  max-width: 900px;
  padding: 0 24px;
  margin: auto;
}

a {
  color: var(--primary) !important;
  text-decoration: none !important;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--border);
  margin: 8px 0;
}

@media (max-width: 768px) {
  body.scrollDisabledMobile {
    overflow: hidden;
  }
}